.stream-component {
  position: relative;
  /* 비디오와 캔버스의 위치 기준점 */
  padding: 5px;
  width: 100%;
  height: 100%;
  /* width: 800px; */
  /* height: 640px; */
}

.game-stream {
  position: relative;
  /* width: 575px; */
  /* height: 460px; */
  width: 100%;
  height: 100%;
}

video {
  /* top: 0;
    left: 0; */
  /* float: left; */
  /* width: 810px; */
  /* height: 650px;  */
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  /* 쌓임 순서 조정 */
  object-fit: fill;
  border-radius: 5px;
}

/* canvas {
  position: absolute;
  절대 위치
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 2;
  쌓임 순서 조정
} */