.toolbar-container {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 3;
}

#linkContainer {
  background-color: #F1F0F0;
  border-radius: 5px;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 45px;
  margin: 13px;
}

.iconGroup {
  display: flex;
  justify-content: space-between;
}

#gameStartBtn {
  font-family: "GmarketSansMedium";
  font-size: 20px;
  background-color: #F7DB42;
  border-radius: 20px;
  width: 140px;
  height: 45px;
  margin: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}