.streamcomponent{
  background: #f8f8f8;
  padding : 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  z-index: 2;
  /* width: 810px;
  height: 650px; */
}

p{
  margin: 0;
}
