#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 90vh;
  border-radius: 25px;
  box-shadow: 0 0 20px -13px rgba(0, 0, 0, 2);
}